{% extends 'base.html' %}
{% load static %}
{% block title %} Lista de registros {% endblock %}

{% block content %}
  <h1 id="h1-center">Últimos Registros</h1>
  
   <div class="col-12 filter-div">
      <span>Filtrar por:</span>
      <select name="filter" id="filter" class="form-control">  
        <option value="">Escolha uma opção</option>
        <option value="com">Códigos relacionados com objetos</option>
        <option value="sem">Códigos não relacionados</option>
        <option value="todos">Todos os códigos</option>
      </select>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquise por objetos" aria-label="Pesquisar" name="search" value="{{ request.GET.search }}">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
  

  
  {% if messages %}
    <ul class="messages">
      {% for message in  messages %}
        <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
          {{message}}

        </li>

      {% endfor %}
    </ul>
  {% endif %}
 <!--<div class="alert alert-warning" role="alert">
    *OBS: Ao apagar um objeto, o histórico do mesmo será apagado.
  </div>
--> 
  <center>
      <!-- FILTROS DO RELATÓRIO -->
  <form method="POST" action="pdf/">
    {% csrf_token %}
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Relatório do Histórico</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h5 class="card-title"><b> Gerar Relatório do Código: </b></h5>
                          <select name="selectcode" id="selectcode" class="form-control">
                            <option value="todos">Todos os códigos</option>
                            {% for obj in obj %}
                              <option value="{{ obj.code }}">Apenas: {{ obj.code }}  -  
                                {% if obj.objeto %}
                                  {{ obj.objeto }}
                                {% else %} <b>Object not found</b>{% endif %}
                                </option>
                            {% endfor %}
                          </select>
                          <span>*Ao selecionar todos os códigos, o campo CÓDIGO será inserido.</span>
                        </div>
                    </div>
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h5 class="card-title"><b> Campos que vai ter:</b></h5>
                          <select name="selectcampos" id="selectcampos" class="form-control">
                              <option value="todos">Todos os campos</option>
                              <option value="1"> Servidor - Objeto - Data e Hora </option>
                              <option value="2"> Servidor - Antena - Objeto </option>
                              <option value="3"> Servidor - Data e Hora - Antena </option>
                              <option value="4"> Data e Hora - Antena - Objeto </option>
                          </select>
                          <span> *Código(Obrigatório)</span>
                        </div>
                    </div>
                   <!--
                    <div class="card" style="width: 100%;">
                      <div class="card-body">
                        <h5 class="card-title"><b> Período:</b></h5>
                        <select name="selectperiodo" id="selectperiodo" class="form-control">
                            <option value="todos">Todos os períodos</option>
                              {% for hist in hist %}
                              <option value="{{ hist.date }}">{{ hist.date }} - {{ hist.code }}</option>
                              {% endfor %}
                        </select>
                    </div>
                    </div>
                   -->
              </div>
              <div class="modal-footer">
                  <button type="button" class="badge badge-secundary" data-dismiss="modal"><img src="{% static 'images/excluir.png' %}" class="icon_menu">Fechar</button>
                  <button type="submit" class="badge badge-info"> <img src="{% static 'images/print.png' %}" class="icon_menu">Gerar PDF</button>
              </div>
          </div>
        </div>
      </div>
    </form>
  
    <button type="button" class="badge badge-info" data-toggle="modal" data-target=".bd-example-modal-lg"><img src="{% static 'images/pdf.png' %}" class="icon_menu">Relatório</button>
    <span class="badge badge-dark"> <b> Com Objetos: {{ com }}</b></span>
    <span class="badge badge-dark"> <b> Total de Objetos: {{ total }}</b></span>
    <span class="badge badge-dark"> <b> Sem Objetos: {{ sem }}</b></span>
<!--
   <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Excluir Registro </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Ao excluir o registro, o historico do mesmo será apagado.
        </div>
        <div class="modal-footer">
          <button type="button" class="badge badge-dark" data-dismiss="modal">Cancelar</button>
          <button type="button" class="badge badge-light"><a href="delete/{{obj.id}}">Excluir</a></button>
        </div>
      </div>
    </div>
</div>
-->
  </center>
    <table class="table">
      <tr align="middle" id="titulos">
        <th>Servidor</th> <th>Antena</th>
        <th>Código</th> <th>Data & Hora</th> 
        <th>Objeto</th><th>Deletar</th><th>Históricos</th>
      </tr>

          {% for obj in obj %}
          {% if obj.objeto %}
              <tr align="middle" class="hover">
                <td> {{ obj.server }} </td> <td> {{ obj.antena }} </td>
                <td>  {{ obj.code }}  </td> <td> {{ obj.date }}  </td>
                <form action="desvincular/{{ obj.id }}/" method="POST">
                  {% csrf_token %}
                  <td> 
                    <button class="desvincular" type="submit" title="Desvincular objeto" onclick="return confirm('Desvincular objeto do código ?')">{{ obj.objeto }}</button>
                  </td>
                </form>
                <td><a href="delete/{{ obj.id }}" onclick="return confirm('Deseja excluir esse Registro ?')"> <button class="btn-acao" title="Deletar Objeto" ><img src="{% static 'images/excluir.png' %}" class="btn-img"></button> </a></td>
                <td><a href="historico/{{obj.code}}"><button class="btn-hist" title="historico"> <img src="{%static 'images/hist.png'%}" class="btn-img"></button></a></td>
              </tr>
        
          {% else %}
              <tr align="middle" bgcolor="#ffabab"  class="hover-so">
                <td> {{ obj.server }} </td> <td> {{ obj.antena }} </td>
                <td>  {{ obj.code }}  </td> <td> {{ obj.date }}  </td><td><a href="cadastro/{{ obj.id }}"><button class="btn-acao" title="Adicionar Objeto"><img src="{% static 'images/add.png' %}" class="btn-img"></button></a></td>
                <td><a href="delete/{{ obj.id }}" onclick="return confirm('Deseja excluir esse Registro ?')"> <button class="btn-acao" title="Deletar Objeto" ><img src="{% static 'images/excluir.png' %}" class="btn-img" ></button></a> </td>
                <td><a href="historico/{{obj.code}}"><button class="btn-hist" title="historico"> <img src="{%static 'images/hist.png'%}" class="btn-img"></button></a></td>
              </tr>
             
          {% endif %}
          {% endfor %}
            </table>
            <div class="pagination">
              <span class="step-links">
                {% if obj.has_previous %}
                  <a href="?page={{ obj.previous_page_number }} "> <img src="{%static 'images/previous.png'%}"></a>
                {% endif %}

              {% if obj.paginator.num_pages %}
              <span class="current">
                  {{ obj.number }} de {{ obj.paginator.num_pages }}
              </span>
              {% endif %}

                {% if obj.has_next %}
                  <a href="?page={{ obj.next_page_number }} "><img src="{% static 'images/next.png'%}"></a>
                {% endif %}
              </span>
            </div>
     
{% endblock %}