<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Relatorio</title>
    <style>
            .format{
                width: 1000px;
                margin-left: auto;
                margin-right: auto;
                padding-bottom:20px;
                padding-top:10px;
                
            }
            .header{
                width: 100%;
                vertical-align: top;
            }
            .table-info{
                width: 100%;
                text-align: center;
            }
            h2{
                text-decoration: underline;
                text-align: center;
            }
            #aironnet{
                width: 100%;
                text-align: center;
                background-color: crimson;
                color: antiquewhite;
                font-family:'Courier New', Courier, monospace;
                font-size: 18px;
                text-anchor:middle; 
                padding-top: 35px;
                
            }
            .table-cabecalho{
                position: relative;
                width: 100%;
                height: 100px;
                margin-top:25px;
                background-color: lavenderblush;
            }
    
            b{
                text-decoration: underline;
            }
            
            .footer{
                position: relative;
                width: 100%;
                background-color:lavenderblush;
            }
        </style>
    
</head>
<body>
        <div class="format">
                <div class="header">
                    <div id="aironnet">
                        <h1>Aironnet</h1>
                    </div>

                        {% if codigo == 'todos' %}
                            <h2>Relatorio de todos os registros  </h2>
                        {% else %}
                            <h2>Relatorio do codigo: {{ codigo }}</h2>
                        {% endif %}
                    
                        <div class="table-cabecalho">
                            <br>
                            Usuario: <b>{{user.username}}</b><br><br>
                               
                            Gerado em: <b>{{ data_emissao }} </b>
                        </div>
                        <hr>
            
                </div>
                <div class="body">
                    {% if codigo == 'todos' %}
                        {% if opt == '1' %}
                            <table class="table-info">
                                    <tr>
                                        <td>Servidor:</td> <td>Codigo:</td> <td>Objeto: </td><td> Registrado em: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                        <td>{{ hist.server }}</td> <td>{{ hist.code }}</td><td>{{ hist.objeto }}</td><td>{{ hist.date }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% elif opt == '2' %}
                            <table class="table-info">
                                    <tr>
                                        <td>Servidor:</td> <td>Codigo:</td> <td> Antena: </td> <td>Objeto: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                        <td>{{ hist.server }}</td> <td>{{ hist.code }}</td> <td>{{ hist.antena }}</td><td>{{ hist.objeto }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% elif opt == '3' %}
                            <table class="table-info">
                                    <tr>
                                        <td>Servidor:</td> <td>Codigo:</td> <td> Antena: </td> <td> Registrado em: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                        <td>{{ hist.server }}</td> <td>{{ hist.code }}</td> <td>{{ hist.antena }}</td><td>{{ hist.date }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% elif opt == '4' %}
                            <table class="table-info">
                                    <tr>
                                        <td>Codigo:</td> <td> Antena: </td> <td>Objeto: </td><td> Registrado em: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                        <td>{{ hist.code }}</td> <td>{{ hist.antena }}</td><td>{{ hist.objeto }}</td><td>{{ hist.date }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% else %}
                            <table class="table-info">
                                    <tr>
                                        <td>Servidor:</td><td> Codigo: </td><td> Antena: </td> <td>Objeto: </td><td> Registrado em: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                        <td>{{ hist.server }}</td>  <td>{{ hist.code }}</td><td>{{ hist.antena }}</td><td>{{ hist.objeto }}</td><td>{{ hist.date }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% endif %}
                    <!--ELSE DO PRIMEIRO IF (IF codigo == 'TODOS')-->
                    {% else %}

                       {% if opt == '1' %}
                            <table class="table-info">
                                    <tr>
                                        <td>Servidor:</td> <td>Objeto: </td><td> Registrado em: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                        <td>{{ hist.server }}</td> <td>{{ hist.objeto }}</td><td>{{ hist.date }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% elif opt == '2' %}
                            <table class="table-info">
                                    <tr>
                                        <td>Servidor:</td> <td> Antena: </td> <td>Objeto: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                        <td>{{ hist.server }}</td> <td>{{ hist.antena }}</td><td>{{ hist.objeto }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% elif opt == '3' %}
                            <table class="table-info">
                                    <tr>
                                        <td>Servidor:</td> <td> Antena: </td> <td> Registrado em: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                        <td>{{ hist.server }}</td> <td>{{ hist.antena }}</td><td>{{ hist.date }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% elif opt == '4' %}
                            <table class="table-info">
                                    <tr>
                                        <td> Antena: </td> <td>Objeto: </td><td> Registrado em: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                         <td>{{ hist.antena }}</td><td>{{ hist.objeto }}</td><td>{{ hist.date }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% else %}
                            <table class="table-info">
                                    <tr>
                                        <td>Servidor:</td><td> Antena: </td> <td>Objeto: </td><td> Registrado em: </td>
                                    </tr>
                                {% for hist in hist %}
                                    <tr>
                                        <td>{{ hist.server }}</td><td>{{ hist.antena }}</td><td>{{ hist.objeto }}</td><td>{{ hist.date }}</td>
                                    </tr> 
                                {% endfor %}
                            </table>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="footer">
                    *Se a coluna OBJETO estiver vazia e porque nao tem objeto relacionado.
                    
                </div>
            </div>
</body>
</html>
    