{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-4 offset-md-4">
		
		<h4 class="card-title text-center">Login na Aironnet</h4>

		 	<form method="post">
		 		{% csrf_token %}
		 		<input type="hidden" name="next" value="{{next}}">

		 		{{form|crispy}}
		 		<button type=submit class="btn btn-primary btn-block">Entrar </button>
		 	</form>
		 	<p class="change-form-p">
		 		Já possui uma conta? <a href="/accounts/register">Click Aqui!</a>
		 	</p>
	</div>
</div>

{% endblock %}
