{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Register {% endblock %}

{% block content %}

{% if messages %}
    <ul class="messages">
      {% for message in  messages %}
        <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
      {{message}}
    	</li>
{% endfor %}
    </ul>
{% endif %}
<div class="row">
	<div class="col-md-4 offset-md-4">
		<h4 class="card-title text-center">Registrar na Aironnet</h4>
		 <form method="post">
		 	{% csrf_token %}
		 	<input type="hidden" name="next" value="{{next}}">

		 	{{form|crispy}}
		 	<button type=submit class="btn btn-primary btn-block">Registrar </button>
		 </form>
		 <p class="change-form-p">
		 	Já tem uma conta ? <a href="/accounts/login">Click Aqui!</a>
		 </p>	
	</div>
</div>

{% endblock %}
